@model Mvc_Online_Commercial_Automation.Models.Classes.Product
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Yeni Ürün Sayfası</h2>
<br />
<form method="post" class="form form-group">

    <div class="form form-group">
        @Html.LabelFor(x => x.ProductName)
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.BrandName)
        @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Stock)
        @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PurchasePrice)
        @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.SalePrice)
        @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Status)
        @Html.DropDownListFor(x => x.Status, new List<SelectListItem>
{
    new SelectListItem { Text = "Aktif", Value = "true" },
    new SelectListItem { Text = "Pasif", Value = "false" }
},  new { @class = "form-control" })

        <br />
        @Html.LabelFor(x => x.ProductImage)

        @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CategoryID)
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.deger1, new { @class = "form-control" })
        <br />

    </div>
    <br />
    <button class="btn btn-success">Kaydet</button>



</form>

